*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(191,191,191);
}
header{
    width:100%;
    height:170px;
    background-color: #d6d6d6;
    float:left;
}
header div{
    width:38%;
    float:left;
}
#logo img{
    height:170px;
}
#titulo{
    padding-top: 70px;
    font-family:'Courier New', Courier, monospace;
    font-size:18px;
}
nav{
    width:100%;
    height: 55px;
    background-color: #8C8C8C;
    float:left;
    padding:15px 0 15px 0;
}
nav ul{
    list-style:none;
    margin: 13px;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    font-size: 24px;
    margin-left:32px;
    color:#000;
    padding: 30px;
    font-family:'Courier New', Courier, monospace;
}
    
nav ul li a:hover{
    background-color: #777777;
}
main{
    width:100%;
    float:left;
    margin-top:20px;
}
main div{
    width: 80%;
    margin: 0 auto;
}
.Imagens{
    width:30%;
    float:left;
    margin:8px;
}
.Imagens img{
    width:100%;
    height: 360px;
    border-radius: 10%;
}
footer{
    width:100%;
    height: 30px;
    float:left;
    background-color: #8C8C8C;
    padding:15px 0 15px 0;
}
footer p{
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
